:root {
  --primary-color: #ffa552;
  --secondary-color: #838383;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  gap: 16px;
}

.grid-item {
  flex: 1 1 calc(33.333% - 32px);
  color: var(--secondary-color);
  padding: 5px;
  text-align: left;
}

.grid-item li {
  padding: 5px;
}

@media (max-width: 768px) {
  .grid-item {
    flex: 1 1 calc(50% - 32px);
  }
}

@media (max-width: 480px) {
  .grid-item {
    flex: 1 1 100%;
  }
}
